<header class="site-header">
  <nav class="site-navbar">
    <div class="container nav-container">
      <div class="nav-left">
        {% if current_user.is_authenticated %}
        <a class="nav-left-toggle" id="nav-site-menu-link" onclick="showSiteMenu();">Menu</a>
        <ul class="nav-list nav-list-left">
          <li><a href="{{ url_for('main.new') }}">New MP3</a></li>
          <li><a href="{{ url_for('main.files') }}">Your MP3s</a></li>
        </ul>
        {% endif %}
      </div>
      <div class="nav-center">
        <a href="/">TextToMP3</a>
      </div>
      <div class="nav-right">
        {% if current_user.is_authenticated %}
        <ul class="nav-list nav-list-right">
          <li><a href="{{ url_for('users.account') }}">Account</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  {% if current_user.is_authenticated %}
  <ul class="nav-left-out-list" id="nav-site-menu">
    <li><a href="{{ url_for('main.new') }}">New MP3</a></li>
    <li><a href="{{ url_for('main.files') }}">Your MP3s</a></li>
  </ul>
  <ul class="nav-right-out-list" id="nav-user-menu">
    <li><a href="{{ url_for('users.account') }}">Account</a></li>
    <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
  </ul>
  {% endif %}
</header>
