{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12 mx-auto">

    <section class="account-settings-section">
      <h3>Account Info</h3>

      <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>

      </ul>

      <img class="rounded-circle profile-avatar" src="{{ user.get_profile_picture_url() }}">

      <form class="container mx-auto p-0" action="" method="POST" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mt-4">
          <legend class="border-bottom mb-3">Profile Picture</legend>

          {{ form.picture.label() }}
          {{ form.picture(class="form-control-file", accept="image/x-png,image/jpeg,image/jpg,image/heic") }}
          {% if form.picture.errors %}
            {% for error in form.picture.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </fieldset>

        {{ form.submit(class="btn btn-primary mt-4 mb-3") }}
      </form>


      <a href="{{ url_for('users.reset_password') }}">Reset Password</a>
    </section>

    <section class="account-settings-section mt-4">
      <h3>Delete Your Account</h3>

      <p>Service not useful enough for you? Delete your account! Please!</p>

      <button class="btn btn-danger" onclick="showCdaModal()">Delete Account</button>
    </section>

    <a class="btn btn-secondary" href="{{ url_for('users.logout') }}">Logout</a>
  </div>
</div>
{% endblock content %}
