{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="content-section">
      <form class="container mx-auto pt-2 pb-3 ps-0 pe-0" action="" method="POST" role="form">
        {{ form.hidden_tag() }}

        <!-- PERSONAL INFORMATION -->
        <fieldset class="form-group">
          <legend class="border-bottom mb-3">Sign Up</legend>

          {{ form.username.label(class="form-control-label required") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control", tabindex="1") }}
          {% endif %}

          {{ form.email.label(class="form-control-label mt-2 required") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control", tabindex="1") }}
          {% endif %}

          {{ form.password.label(class="form-control-label mt-2 required") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", tabindex="1") }}
          {% endif %}

          {{ form.confirm_password.label(class="form-control-label mt-2 required") }}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class="form-control", tabindex="1") }}
          {% endif %}
        </fieldset>

        <!-- SIGN UP -->
        <div class="d-flex align-items-center mt-3">
          {{ form.submit(class="btn btn-primary flex-grow-1 p-2", tabindex="1") }}
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock content %}
