<div class="modal fade" id="cdaModal" tabindex="-1" role="dialog" aria-labelledby="cdaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cdaModalLabel">Confirm Account Deletion</h5>
      </div>

      <p class="px-3 pt-3">Are you sure you want to delete your account?</p>

      <div class="modal-footer">
        {% import 'macros/delete_form.html' as f with context %}
        {% call f.form_tag('users.delete_account') %}
        <button type="submit" class="btn btn-danger">Yes, Delete Account</button>
        {% endcall %}
        <button type="button" class="btn btn-secondary" id="cdaModalClose" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
